name: Update WakaTime Stats SVG

on:
  schedule:
    - cron: '0 */6 * * *' # every 6 hours
  workflow_dispatch:

jobs:
  generate-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate SVG from Vercel API
        env:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        run: |
          mkdir -p wakatime
          curl -s "https://wakatime-readme-stats.vercel.app/api/wakatimeStats?username=$GITHUB_ACTOR&api_key=$WAKATIME_API_KEY&components=3&title_prefix=Laura%27s&bg_color=e6ddd8&title_color=fcf9f2&text_color=997967&logo_color=fcf9f2&border_color=ab8c7b&border_width=2&border_radius=10&component1_scale_value=1.5&component2_scale_value=1.2&component1_type=weekly_avg&component1_chart_type=radar&component1_chart_color=fcf9f2&component1_start_day=mo&component1_y_axis=true&component1_y_axis_label=true&component1_hide_legend=true&component1_hide_total=true&component2_type=basic&component3_type=heatmap&component3_start_day=mo&component3_heatmap_color=fcf9f2" \
            -o assets/wakatimeStats.svg

      - name: Commit SVG to repo
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add assets/wakatimeStats.svg
          git commit -m "Update WakaTime stats SVG" || echo "No changes"
          git push
